html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#mapcon {
    height: 100%;
}

#controlcon {
    margin: 1em 0 0 0;
}

#search {
    border: 3px solid #10A0FF;
    padding: 0.25em;
    width: 100%;
}

li.ui-menu-item {
    border-bottom: 1px solid #10A0FF;
    padding: 0.1em !important;
}

li.ui-menu-item:last-child {
    border: none;
}

.row > div {
    padding: 0.25em;
    background-color: #e1edff;
    font-size: 1.25em;
}

.row .glyphicon {
    font-family: 'Glyphicons Halflings';
}

#stops select {
    width: 100%;
    padding: 0.25em;
}

.carousel-control glyphicon-chevron-left {
    left: 0 !important;
}

.carousel-control glyphicon-chevron-right {
    right: 0 !important;
}

.carousel-control {
    color: black;
    background-image: none;
}

#timetable button {
    margin: 0 1em;
    font-size: 8px;
}

#timetable-carousel {
    margin-bottom: 1em;
    overflow: hidden;
}

#timetable-items {
    width: 10000px;
    display: inline-block;
}

#timetable-items span {
    margin-right: 1em;
}

#timetable-inner-row {
    margin: 0;
}
